# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    ignore:
      - dependency-name: "react-native"
      - dependency-name: "@react-native/metro-config"
      - dependency-name: "react-native-reanimated"
      - dependency-name: "react-native-mmkv" # we're currently on 2.12.2 which is the latest version compatible with react-native 0.73.7
      - dependency-name: "react-native-screens"
      - dependency-name: "@walletconnect/react-native-compat"
      - dependency-name: "@walletconnect/types"
      - dependency-name: "@walletconnect/utils"
      - dependency-name: "@avalabs/*"
      - dependency-name: "ethers" # we should be using ethers 6.8.1 (please refer to dependencies_resolutions.md)
      - dependency-name: "web3" # we should be using web3 1.7.5 (please refer to dependencies_resolutions.md)
