name: Mobile PR

on:
  pull_request:
    branches:
      - 'development'

permissions:
  contents: read
  # The following give Dependabot permission to write Eslint annotation results
  checks: write
  pull-requests: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn install --immutable && yarn setup

      - name: Eslint
        run: yarn lint --quiet

      - name: Typescript
        run: yarn tsc

      - name: Test
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: yarn test --ci --silent