name: Mobile PR

on:
  pull_request:
    branches:
      - 'main'

permissions:
  contents: read
  # The following give Dependabot permission to write Eslint annotation results
  checks: write
  pull-requests: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable && yarn setup
        env: 
          APP_ENV: ci

      - name: Eslint
        run: yarn lint --quiet

      - name: Typescript
        run: yarn tsc

      - name: Test
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: yarn test --ci --silent
