name: Mobile PR

on:
  pull_request:
    branches:
      - 'development'

permissions:
  contents: read
  # The following give Dependabot permission to write Eslint annotation results
  checks: write
  pull-requests: write

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: yarn setup:ci

      - name: Eslint
        run: yarn lint:ci
        # Continue to Annotate step which will fail if there are errors
        continue-on-error: true
      - name: "Eslint: Annotate Results"
        uses: ataylorme/eslint-annotate-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          report-json: 'eslint_report.json'

      - name: Typescript
        run: yarn tsc

      - name: Test
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: yarn test:ci